---
layout: page
search_exclude: false
permalink: /tools
---

This site will help you navigate through the existing tools build with CSBDeep.
<div class="tools">
  <div class="tools-group">
    <div class="title">
      <img src="{{ site.baseurl }}/images/tools-restoration.png"/>
      Image restoration
    </div>
    <div class="tools-list">
  {% for tool in site.tools %}
    {% if tool.outputtype == "image" %}
      <a href="{{ tool.url | prepend: site.baseurl }}">
        <span class="tool-title">{{ tool.name }}</span>
        <span class="tool-teaser" style="background-image: url({{ tool.teaser | relative_url }});"></span>
        <span class="tool-training-description"><strong>Training data: </strong> {{ tool.trainingdata }}</span>
      </a>
    {% endif %}
  {% endfor %}
    </div>
  </div>

  <div class="tools-group">
    <div class="title">
      <img src="{{ site.baseurl }}/images/tools-segmentation.png"/>
      Object detection
    </div>
    <div class="tools-list">
    {% for tool in site.tools %}
      {% if tool.outputtype == "objects" %}
      <a href="{{ tool.url | prepend: site.baseurl }}">
        <span class="tool-title">{{ tool.name }}</span>
        <span class="tool-teaser" style="background-image: url({{ tool.teaser | relative_url }});"></span>
        <span class="tool-training-description"><strong>Training data: </strong> {{ tool.trainingdata }}</span>
      </a>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>

Are you the author of a tool based on CSBDeep and want to add it here? Let us know!