---
layout: toolpage
nameaslogo: true
name: CARE
subpages:
    - title: "Credits"
      icon: "/images/icons/credits.png"
      url: "/tools/care/credits"
    - title: "Gallery"
      icon: "/images/icons/gallery.png"
      url: "/tools/care/gallery"
    - title: "Videos"
      icon: "/images/icons/videos.png"
      url: "/tools/care/videos"
howto:
    - title: "How to use the CARE networks in Python"
      url: "/tools/care/usage-python"
    - title: "How to export trained CARE networks from Python for Fiji and KNIME"
      url: "/tools/care/usage-python-export"
    - title: "How to use the CARE networks in Fiji"
      url: "/tools/care/usage-fiji"
    - title: "How to use the CARE networks in KNIME"
      url: "/tools/care/usage-knime"
description: "Content-aware image restoration: pushing the limits of fluorescence microscopy"
---

{{ content | markdownify }}