---
layout: toolpage
nameaslogo: true
image: images/n2v/header.jpg
name: N2V
subpages:
    - title: "Credits"
      icon: "/images/icons/credits.png"
      url: "/tools/n2v/credits"
    - title: "Gallery"
      icon: "/images/icons/gallery.png"
      url: "/tools/n2v/gallery"
    - title: "Videos"
      icon: "/images/icons/videos.png"
      url: "/tools/n2v/videos"
    - title: "FAQ"
      icon: "/images/icons/faq.png"
      url: "/tools/n2v/faq"
howto:
    - title: "How to use N2V in Python"
      url: "/tools/n2v/usage-python"
    - title: "How to export trained N2V networks from Python for Fiji"
      url: "/tools/n2v/usage-python-export"
    - title: "How to use N2V in Fiji"
      url: "/tools/n2v/usage-fiji"
description: "Learning Denoising from Single Noisy Images"
---

{{ content }}