---
layout: toolpage
nameaslogo: true
name: CARE
image: images/csbdeep-home.png
subpages:
    - title: "Credits"
      icon: "/images/icons/credits.png"
      url: "/tools/care/credits"
    - title: "Gallery"
      icon: "/images/icons/gallery.png"
      url: "/tools/care/gallery"
    - title: "Videos"
      icon: "/images/icons/videos.png"
      url: "/tools/care/videos"
description: "Content-aware image restoration: pushing the limits of fluorescence microscopy"
---

{{ content | markdownify }}